.nested_set{
  padding:0 0 0 10px;
}
.nested_set ol{
  margin:0 0 0 25px;
  border-left:1px dashed gray;
}
.nested_set li{
  margin-bottom:5px;
}
.nested_set a{
  color:#000;
  font-size:10pt;
  font-weight:normal;
  text-decoration:none;
  line-height: 150%;
  display: block;
  margin:0 140px 0 20px;
  overflow:hidden;
  zoom:1;
}
.nested_set .root a{
  font-weight:bold;
}
.nested_set a:hover{
  color:#2476FF;
  text-decoration:none;
}
.nested_set .handle{
  cursor: move;
}
.nested_set .link{
  overflow: hidden;
  zoom:1;
  padding:5px;
  margin:0 0 5px 5px;
  background:#EFEFEF;
}
.nested_set .link:hover{
  background:#FEE;
}
.nested_set .controls{
  width:120px;
  float:right;
}
.nested_set .button{
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin:0 0 0 3px;
  cursor:pointer;
}
.nested_set .root_create_image{
  vertical-align:middle;
  border:none;
}
.nested_set .root_create_link{
  margin:25px 0;
}
.nested_set .root_create_link a{
  font-size:14pt;
}
.nested_set .handle{
  width:16px;
  height:16px;
  float:left;
  background:transparent url(/images/iconza/blue/move.png) no-repeat scroll center center;
}
.nested_set .button.new{ background:transparent url(/images/iconza/blue/add.png) no-repeat scroll center center; }
.nested_set .button.new:hover{ background:transparent url(/images/iconza/red/add.png) no-repeat scroll center center;}

.nested_set .button.edit{ background:transparent url(/images/iconza/blue/edit.png) no-repeat scroll center center; }
.nested_set .button.edit:hover{ background:transparent url(/images/iconza/red/edit.png) no-repeat scroll center center;}

.nested_set .button.up{ background:transparent url(/images/iconza/blue/up.png) no-repeat scroll center center; }
.nested_set .button.up:hover{ background:transparent url(/images/iconza/red/up.png) no-repeat scroll center center;}

.nested_set .button.down{ background:transparent url(/images/iconza/blue/down.png) no-repeat scroll center center; }
.nested_set .button.down:hover{ background:transparent url(/images/iconza/red/down.png) no-repeat scroll center center;}

.nested_set .button.delete{ background:transparent url(/images/iconza/blue/delete.png) no-repeat scroll center center; }
.nested_set .button.delete:hover{ background:transparent url(/images/iconza/red/delete.png) no-repeat scroll center center;}

.nested_set .button.hard_delete{ background:transparent url(/images/iconza/gray/delete.png) no-repeat scroll center center; }
.nested_set .button.hard_delete:hover{ background:transparent url(/images/iconza/red/delete.png) no-repeat scroll center center;}

.nested_set .undeleted{ background:transparent url(/images/iconza/gray/delete.png) no-repeat scroll center center; }
.nested_set .cantup{ background:transparent url(/images/iconza/gray/up.png) no-repeat scroll center center; }
.nested_set .cantdown{ background:transparent url(/images/iconza/gray/down.png) no-repeat scroll center center; }
