-# if opts[:admin]
  -# image= image_tag('iconza/blue/add.png')+raw('&nbsp;')
  -# link = link_to image + t('pages.new'), new_page_path(:top_root=>opts[:top_root])
  =# content_tag(:div, link, :style=>'margin:25px 0;')
