-# node - current element of nested tree

-# opts[:class_name] - string
-# opts[:id_field] - string
-# opts[:admin] - bool
-# opts[:root] - bool
-# opts[:first] - bool
-# opts[:last] - bool
-# opts[:has_childs] - bool
-# opts[:level] - integer

=# opts[:class_name]
=# opts[:id_fileld]
=# opts[:admin].to_s
=# opts[:root].to_s
=# opts[:first].to_s
=# opts[:last].to_s
=# opts[:has_childs].to_s
=# opts[:level].to_s

- node_parent_id = node.parent_id.blank? ? 0 : node.parent_id
- link_txt= node.id.to_s + ' :: ' +[node_parent_id, node.lft, node.rgt].join(' - ') + ' | '+  node.title
- title= node.id
- handle = content_tag :div, raw('&nbsp;'), :class=>:handle
= content_tag(:div, (handle + controls + link_to(link_txt, page_path(node), :title=>title)), :class=>"link #{'root' if root}")


