- content_for :css do
  =stylesheet_link_tag 'nested_set/style', :media=>'screen'

.nested_set
  = raw ans_tree(@pages, :path=>'pages/nested_set', :admin=>true, :class_name=>'Page', :id_field=>:id, :clean=>false)
